body {
    font-family: sans-serif;
}

.templates {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
 }
.template {
    padding: 5px;
    flex: 0 0 200px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
}
.info {
    text-align: center;
}

.bar:hover {
  fill: #729fcf;
}

.axis--x path {
  display: none;
}
