body {
    background-color: rgba(173, 181, 189, 0.3);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
  background-color: rgba(114, 159, 207, 0.7);
  height: 4%;
  padding: 10px;
  color: white;
}
.header h1 {
    margin: 7px 0 10px 0;
}
.header .app-logo {
    height: 50px;
}
.header .eean-link img {
    width: 3%;
}
.header .eean-link a{
    text-decoration: none;
    color: white;
}
.header .eean-link a:hover {
    text-decoration: none;
    color: rgb(117, 117, 117);
}
.header .eean-link span {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
}

footer {
    padding-top: 1%;
    position: relative;
    margin-top: 2%;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(114, 159, 207, 0.7);
}

svg {
    max-width: 100%;
}

.templates {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 8%;
}
.template {
    flex: 0 0 200px;
    border: 1.8px solid rgba(114, 159, 207, 0.5);
    border-radius: 5px;
}
.templates .template:nth-child(2n+1){
    margin-right: 3%;
}
.templates .template:nth-child(3n+1){
    margin-left: 3%;
}


@media screen and (max-width: 560px) {
    .templates .template:nth-child(2n+1) {
      margin-bottom: 3%;
  }

    /*.app {
    margin: 2% 0 15% 0;
}
    footer {
	position: relative;
    }*/
}