body {
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    min-height: 80vh;
}
header, footer {
  background-color: rgba(114, 159, 207, 0.6);
  height: 10vh;
  padding: 1em;
  text-align: center;
  color: white;
}
header h2 {
    font-family: 'Courgette', cursive;
    font-weight: bold;
}
header img {
    width: 4%;
}
header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    text-decoration: none;
    color: rgba(117, 117, 117, 0.6);
}

@media screen and (max-width: 575px) {
  #main {
    display: block;
  }
}

.templates {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around; /* change to 'space-between' when more templates */
 }
.template {
    padding: 5px;
    flex: 0 0 200px;
    border: 1.8px solid rgba(114, 159, 207, 0.5);
    border-radius: 5px;
}
.info {
    text-align: center;
}

.bar:hover {
  fill: #729fcf;
}

.axis--x path {
  display: none;
}
